
  <div class="a">

    <br>
  
    <br>
  
    <br>
  
    <br>
  
    <br>
  
    <br>
  
    <br>
  
    <br>
    <h2>Enviromental, Social, Governance</h2>
    <br>
    <br>
  
    <div class="b">
  <h3>Purpose</h3>
  
    <br>
    <br>
     <h5> At Digital Alpha (“DA”) we believe that our fiduciary responsibility requires careful consideration of the impact our investments can have on environmental, social and governance (“ESG”) matters. DA believes a tailored approach to ESG issues for each of our portfolio companies will create value for not only our LPs, but for many other stakeholders. </h5>
       <br>
      <p>DA appreciates that tracking, collecting and reporting on ESG requires significant resources, however, we see that the incorporation of ESG is way of creating longer term sustainable growth for our portfolio companies. DA’s investments are predominantly ‘green’; developing technology and jobs related to the mission critical infrastructure needed in today’s modern world.</p>
      <br>

      <h3>Portfolio Examples</h3>
    <br>
      <p>UKCloud, a sovereign data cloud portfolio company, is now providing the first carbon negative cloud services in the UK.</p>
      
    
      <p>Quantela has developed a contact tracing solution for covid-19 management for municipalities. </p>
      
      
     <p> PacketFabric is providing essential connectivity services across the United States as business, governments and schools move critical functions online during the pandemic. </p>
      
      <br>
      
      <br>
    </div>


    <div class="portfolio-category-content">


      <div class="project_container">
      
      
        <div class="">
      
          <div class="card-start">
      
             
            <div class="project_img">
              <img src="assets/images/ESG Dashboard Legal.jpg" >
            </div>
            
          </div>
      
 
      
          <br>
      
      </div>
      

</div>



<br>
  
      <h3 >Our ESG Strategy</h3>
      <br>
      <br>
      <h4>Transparency and Governance</h4>
       <br>
      DA has developed a Responsible Investment Policy (RIP) which we believe incorporates industry leading practices in both the reporting and governance of our portfolio companies. DA aims to utilise independent standards-setting organization such as the “Sustainability Accounting Standards Board” and “Institutional Limited Partners Association Principals 3.0” to integrate industry specific frameworks and policies which best achieve our ESG goals.
      <br>
      <br>
      <br>
      <h4>Holistic ESG</h4>
      
      <br>
  
      DA integrates ESG considerations from the start of a portfolio company’s due diligence all the way through to its exit. We identify and monitor the most relevant ESG issues that directly reflect our portfolio companies’ unique operations. This integrated approach, in our opinion, drives the greatest ESG impact.
      <br>
      <br>
      <br>
      <h4>The Future of ESG Practices</h4>
      
      <br>
      DA will continually strive to achieve the best ESG reporting practices and regularly participates in responsible investment conferences. DA is keen to play a leading role in ESG and Impact investing as drivers of relevance in the deals of the future.
      <br>
      <br>
      <br>
  <p><a href="https://ukcloud.com/governance/green-credentials/">
       1. UKCloud company website, June 2020
       </a>
       </p>
  
        <p> <a href="//blog.quantela.com/cover-components-and-features/">
          
      2. Quantela company website June 2020
      </a>
      </p>
  
    
      <p> <a href="//packetfabric.com/locations/">
          
        3. PacketFabric company website June 2020
        </a>
        </p>

  
  <style>
.project_img {

  padding-left: 265px;
  
}


  </style>
   

      
      
  
      
  
     
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <br>
  
    <br>
  
    <br>
  
    <br>
  
    
  
  </div>
  <style>
  h2{
    text-align: center;
  }
  .a {
    background-color: #3B4D8C; 

    padding-left: 75px;
    padding-right: 75px;
  }
  p {
  color: beige;
  }
  </style>

  


